<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>Login</title>
</head>
<body>
<div class="header-container">

</div>
<div class="outer-form">
    <form class="login-form" action="auth" method="POST">
        <h1>Sign in</h1>
        <p>Sign in and start managing your candidates!</p>
        <div class="username">
            <input id="username" type="text" name="username" placeholder="Username" required>
        </div>
        <div class="password">
            <input id="password" type="password" name="password" placeholder="Password" required>
        </div>
        <div class="remember-forgot">
            <input id="remember" type="checkbox" name="remember">
            <label id="rememberLabel" for="remember">Remember Me</label>
            <a id="forgotPass" href="">Forgot Password?</a>
        </div>
        <div class="submit">
            <input id="submit" type="submit" placeholder="Login" value="Login">
        </div>
    </form>
</div>
<div class="outer-bottom-container">
    <div class="bottom-container">
    </div>
</div>
</body>
</html>