<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>Register</title>
</head>
<body>
<div class="header-container">
    <h1 style="text-align: center; font-size: 64px;">Welcome</h1>
</div>
<div class="outer-form">
    <div class="btn-group">
        <input type=button onClick="parent.location='/login'"
               value='Login'>
        <input type=button onClick="parent.location='/register'"
               value='Register'>
    </div>
</div>
<div class="outer-bottom-container">

    <div class="bottom-container">

    </div>

</div>
</body>
</html>